$couleur_header: #cb06f3b7; 
$couleur_footer:#5D6D7E ;
$largeur_image_header: 100%;
$hauteur_header: 200px;
$hauteur_footer: 100px;
$miseenpagefooter_header: flex;
$alignementfooter_header: center; 

$longueur_barre_recherche:250px;
$hauteur_barre_recherche: 20px;
$contour_barre_recherche: solid black 0.5px;
$coincirculaire: 50px;
$couleur_focus_barre_recherche: #eef85f;
$hauteuraside: 500px;

$fontfamily1: "Font Awesome 5 Free"; 
$couleur_navigation: rgb(11, 12, 10);
$fontweight_navigation:  bolder;
$couleurfondnavigation1: rgb(148, 179, 11);
$margenavigation1: 880px;

$margeTableau: 150px;
$largeurTableau: 900px;
$couleurbordureTableau: black;
$couleurTableau2:  rgb(190, 100, 112);
$couleurTableau3: darkgray;

$couleuretoire: red;
$couleurfocusinvalid:red;
$couleurfocusvalide: rgb(60, 126, 71);

header{
    background-color: $couleur_header;
}

#image_header{
    width: $largeur_image_header;
    height: $hauteur_header;
}

h1{
  display:$miseenpagefooter_header;
  justify-content: $alignementfooter_header;
}

.navigation1-lien{
    margin-left: $margenavigation1;
    background-color: $couleurfondnavigation1; 
}

.navigation1-lien-partager, .navigation1-lien-connexion{
    color: $couleur_navigation;
    font-weight: $fontweight_navigation;
    text-decoration: none;
    font-size: 20px;
}

.navigation1-lien-partager:hover, .navigation1-lien-connexion:hover{
    background-color: yellowgreen;
}


.navigation1-lien-partager::after{
    font-family: $fontfamily1;
    font-weight: 900; 
    content: "\f064";
    margin-left: 5px;
}

#barre_de_recherche{
    width: $longueur_barre_recherche;
    height: $hauteur_barre_recherche;
    border: $contour_barre_recherche;
    border-radius: $coincirculaire;
}


#barre_de_recherche:focus{
    background-color: $couleur_focus_barre_recherche;
    border-radius: $coincirculaire;
}

.container-navigation2{
    height: 30px;
    background-color: rgb(247, 190, 4);
}

.container-navigation2-lien{
    font-size: 20px;
}

.container{
    display: grid;
    grid-template-columns: 500px 600px;
    justify-content: $alignementfooter_header;
}

.caroussel-images > img{
    width: 500px;
    height: 400px;
}

.cachee{
    display: none;
}

.container-navigation2-lien{
    color: $couleur_navigation;
    text-decoration: none;
    font-weight: $fontweight_navigation;
}

.container-navigation2-lien:hover{
    background-color: rgb(45, 87, 59);
}

.container-navigation2-lien:first-child{
    color: maroon;
    margin-right: 10px;
}

.container-navigation2-lien:last-child{
    color:#fc06a2;
    margin-left: 10px;
}
  
.container-article>p{
    text-align: justify;
    margin-left: 20px;
}

.container-article>p::first-letter{
    font-size: 40px;
}


table{
    margin-left: $margeTableau;
    width: $largeurTableau;
}
table,td,th{
    border:  solid 1px black; 
    border-collapse: collapse;
    text-align: center;

}

tr:nth-child(odd){
    background-color: $couleurTableau2;
}

tr:nth-child(even){
    background-color: $couleurTableau3
}

.asterix::after{
    content:"*";
    color: $couleuretoire;
}

#courriel:invalid:focus{
    background-color:$couleurfocusvalide; 
}

#courriel:valid:focus{
    background-color: $couleurfocusinvalid;
}

.formulaire{
    display: $miseenpagefooter_header;
    justify-content: $alignementfooter_header;
    margin-top: 20px;

}

input[type=text], [type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #fd05c7;
    font-weight: 500px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
  }

// caroussell
.carousel {
            width: 600px;
            height: 300px;
            display: flex;
            justify-content: center;
}


        footer{
            background-color: $couleur_footer ;
            min-height: $hauteur_footer;
            display: $miseenpagefooter_header;
            justify-content: $alignementfooter_header;
            margin-top: 10px;
        }
        
        footer>p{
            font-size: large;
            font-weight: $fontweight_navigation;
        }