@charset "UTF-8";
header {
  background-color: #cb06f3b7;
}

#image_header {
  width: 100%;
  height: 200px;
}

h1 {
  display: flex;
  justify-content: center;
}

.navigation1-lien {
  margin-left: 880px;
  background-color: #94b30b;
}

.navigation1-lien-partager, .navigation1-lien-connexion {
  color: #0b0c0a;
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
}

.navigation1-lien-partager:hover, .navigation1-lien-connexion:hover {
  background-color: yellowgreen;
}

.navigation1-lien-partager::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-left: 5px;
}

#barre_de_recherche {
  width: 250px;
  height: 20px;
  border: solid black 0.5px;
  border-radius: 50px;
}

#barre_de_recherche:focus {
  background-color: #eef85f;
  border-radius: 50px;
}

.container-navigation2 {
  height: 30px;
  background-color: #f7be04;
}

.container-navigation2-lien {
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-columns: 500px 600px;
  justify-content: center;
}

.caroussel-images > img {
  width: 500px;
  height: 400px;
}

.cachee {
  display: none;
}

.container-navigation2-lien {
  color: #0b0c0a;
  text-decoration: none;
  font-weight: bolder;
}

.container-navigation2-lien:hover {
  background-color: #2d573b;
}

.container-navigation2-lien:first-child {
  color: maroon;
  margin-right: 10px;
}

.container-navigation2-lien:last-child {
  color: #fc06a2;
  margin-left: 10px;
}

.container-article > p {
  text-align: justify;
  margin-left: 20px;
}

.container-article > p::first-letter {
  font-size: 40px;
}

table {
  margin-left: 150px;
  width: 900px;
}

table, td, th {
  border: solid 1px black;
  border-collapse: collapse;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #be6470;
}

tr:nth-child(even) {
  background-color: darkgray;
}

.asterix::after {
  content: "*";
  color: red;
}

#courriel:invalid:focus {
  background-color: #3c7e47;
}

#courriel:valid:focus {
  background-color: red;
}

.formulaire {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input[type=text], [type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #fd05c7;
  font-weight: 500px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.carousel {
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
}

footer {
  background-color: #5D6D7E;
  min-height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

footer > p {
  font-size: large;
  font-weight: bolder;
}

/*# sourceMappingURL=styles.css.map */
